.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signs-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  align-items: center;
}