.todays-reading {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
}

.prediction {
  width: 50vw;
}

.time-period-img {
  height: 20px;
  padding: 10px;
}