.header {
  height: 100px;
}

.navbar {
  position: relative;
}

.favorites-page-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 60px;
  padding-top: 30px;
}

@media screen and (max-width: 84em) {
  .favorites-page-icon {
    position: static;
    padding-right: 0;
    padding-top: 0;
  }
};